@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: url(images/bg-desktop-dark.jpg) no-repeat top center;
  background-color: hsl(235, 21%, 11%);
}

.container {
  margin: 50px 30px;
  width: 350px;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-right: 8px;
  margin-left: 5px;
}

.title {
  font-size: 1.3rem;
}

.create-todo-container {
  display: flex;
  margin-bottom: 30px;
  background-color: hsl(235, 24%, 19%);
  align-items: center;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

#add-todo {
  background: none;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  height: 25px;
}

#add-todo-btn:hover {
  color: rgb(0, 201, 0);
}

.todolist-container,
.filter-btns {
  border-radius: 10px;
  background-color: hsl(235, 24%, 19%);
}

.todo,
.no-item-placeholder,
.all-buttons,
.filter-btns {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.137);
}

.checkBtnAndLi {
  display: flex;
  flex: 2;
  height: 100%;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

li {
  width: 250px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  overflow-wrap: break-word;
}

.all-buttons {
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.filter-btns {
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
}

#clear-btn:hover,
#complete-btn:hover {
  color: white;
}

#clear-btn,
#complete-btn {
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 0.75rem;
  width: 50px;
  height: 100%;
}

#all-btn,
#active-btn,
#completed-btn {
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  width: 50px;
  height: 100%;
}

.unfocused {
  color: gray;
}

.focused,
.unfocused:hover {
  color: hsl(220, 98%, 61%);
}

#count-todos {
  flex: 3;
  color: grey;
  font-size: 0.75rem;
}

.checkTodo,
.deleteTodo {
  background-color: transparent;
  border: none;
}

.fa-times:hover {
  color: red;
}

.hideElement {
  display: none;
}

.footer {
  height: 50px;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 600px;
  }
  li {
    width: 500px;
  }
}
